*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

header{
    text-align: center;
}

.flex-row{
    display: flex;
}

.space-evenly{
    justify-content: space-evenly;
}

.wrap{
    flex-wrap: wrap;
}

.center{
    justify-content: center;
}

.card {
    width: 100px;
    margin-bottom: 15px;
}

#alert-text{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 15px;
}

button{
    padding: 10px;
    margin: 15px;
    font-weight: bold;
}

button:hover{
    transform: scale(1.1);
}

.selected {
    border: 2px solid blue;
}

.hand-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}